.DS_Store
__MACOSX/
node_modules/
.env
.env.*
*.zip
*.tar
*.gz
*.tgz
*.rar
*.7z
*.tex
*.bib
*.pt
*.pth
*.ckpt
*.pem
*.key
*.woff
*.woff2
*.ttf
*.otf
*upplement*
*upp_material*
*upporting*aterial*
paper_source/
